<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore"
					 path="*"
					 verb="*"
					 modules="AspNetCoreModuleV2"
					 resourceType="Unspecified" />
			</handlers>

			<!-- InProcess + dotnet runner -->
			<aspNetCore processPath="dotnet"
						arguments=".\AlisverisSitesiFinal.dll"
						stdoutLogEnabled="false"
						stdoutLogFile=".\logs\stdout"
						hostingModel="inprocess">

				<!-- 🚀 Ortam değişkenleri: appsettings.* dosyalarına DOKUNMADAN buradan override eder -->
				<environmentVariables>
					<!-- Connection String -->
					<environmentVariable name="ConnectionStrings__DefaultConnection"
										 value="Server=tcp:mssql01.trwww.com,1433;Database=MaralineDb;User Id=maraline;Password=Bersan.1905;Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=True;Connection Timeout=30;" />
					<!-- tc -->
					<environmentVariable name="KPS__Endpoint" value="https://tckimlik.nvi.gov.tr/Service/KPSPublic.asmx" />

					<!-- E-posta -->
					<environmentVariable name="Email__Smtp__Host" value="smtp.gmail.com" />
					<environmentVariable name="Email__Smtp__Port" value="587" />
					<environmentVariable name="Email__Smtp__EnableSsl" value="true" />
					<environmentVariable name="Email__Smtp__User" value="maralinemagaza@gmail.com" />
					<environmentVariable name="Email__Smtp__Password" value="pzfgmiwzcuftuhul" />
					<environmentVariable name="Email__Smtp__From" value="maralinemagaza@gmail.com" />

					<!-- PayTR -->
					<environmentVariable name="PayTR__MerchantId" value="618900" />
					<environmentVariable name="PayTR__MerchantKey" value="TmZeKNVd15ahD491" />
					<environmentVariable name="PayTR__MerchantSalt" value="XWyxFFNzc9anDDcw" />
					<environmentVariable name="PayTR__BaseUrl" value="https://www.paytr.com" />
					<environmentVariable name="PayTR__CallbackUrl" value="https://maraline.com.tr/odeme/paytr-callback" />
					<environmentVariable name="PayTR__OkUrl" value="https://maraline.com.tr/odeme/ok-donus" />
					<environmentVariable name="PayTR__FailUrl" value="https://maraline.com.tr/odeme/fail-donus" />

					<!-- (İsteğe bağlı) ReCaptcha prod anahtarlarını da buradan verebilirsin
          <environmentVariable name="GoogleReCaptcha__SiteKey" value="..." />
          <environmentVariable name="GoogleReCaptcha__SecretKey" value="..." /> -->
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
</configuration>
